/*header*/
.main-content {
	max-width: 120rem;
	margin-right: 15%;
	margin-left: 15%;
	border-width: 100%;
}

.site-header {
	background-image: url(imgs/123.jpg);
	background-position: center center;
	background-size: cover;
	height: 300px;
	min-height: 20rem;
}

.bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 3rem;
}

/*nav bar */
nav {
	width: 100%;
	height: 50px;
	background: #2f3649;
	border-top: 1px solid rgba(255, 255, 255..7);
	border-bottom: 1px solid rgba(255, 255, 255..7);
	top: 0px;
}

nav ul {
	display: flex;
	margin: 0;
	padding: 0 100px;
	float: right;

}

nav ul li {
	list-style: none;
}

nav ul li a {
	display: block;
	color: #fff;
	padding: 0 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 50px;
	font-size: 20px;
}

nav ul li a:hover {
	background: #f00606;
}

nav ul li a.active {
	background: #f00606;
}

/*end nav*/

h1 {
	color: rgb(10, 10, 10);
	text-decoration: underline;
	font-size: 60px;
}



.item {
	display: inline-block;
	width: 300px;
	height: 350px;
	background-color: #fcfcfc;
	border: 1px solid #ccc;
	margin: 5px;
	padding: 5px;
	vertical-align: top;
}

.item img {
	width: 250px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}

.item h5 {
	font-weight: bold;
	color: rgb(46, 67, 95);
}

.item h6 {
	font-size: 16px;
	font-weight: bold;
	color: rgb(143, 27, 27);
}

.item h6,
.item button {
	display: inline-block;
}

.item button {
	float: right;
	bottom: 0;
}

.search-container {
	background-color: #e3e3e3;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.categories {
	float: right;
}






/*Footer*/
.footer-distributed {
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left p {
	color: #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links {
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
}

.footer-distributed .footer-right {
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right {
		text-align: center;
	}

	.footer-distributed .footer-right {
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links {
		line-height: 1.8;
	}
}